<!DOCTYPE html>
<html>
<head>
  <title>FoodDonate</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div>
    <%= render 'static_pages/nav' %>
    <div class="row clearfix">
      <%- unless notice.nil? %>
      <div class="alert alert-success" role="alert"><%= notice %></div>
      <% end -%>
      <%- unless alert.nil? %>
      <div class="alert alert-danger" role="alert"><%= alert %></div>
      <% end -%>
    </div>
    <%= yield %>
  </div>
</body>
</html>
