<!DOCTYPE html>
<html>
<head>
  <title>FoodDonate</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-app="app">
  <div>
    <%= render 'static_pages/nav' %>
    <%= yield %>
  </div>
  <div class="row">
    <div class="fh-footer">
      <ul class="list-unstyled list-inline">
        <li>
          <a href="#">Dinner Table</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Sign In</a>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>
